@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url('../static/images/main_pic.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


main {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 1rem;
    bottom: 0;
}


.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

.login .heading .welcome{
    font-size: 1rem;
    font-weight: 400;
}

.login .heading .title{
    font-size: 2rem;
    font-weight: 700;
}

.error-msg{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.error-msg .error {
    background-color: rgba(255,0,0,.5);
    border: 1px solid red;
    padding: 1rem;
}


.login .forms {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login .forms .form {
    padding: .8rem .5rem;
    border: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
}

.login .lost-password{
    display: flex;
    justify-content: space-between;
}

.login .lost-password .remember input {
    accent-color: black;
}

.login .lost-password .forgot{
    text-decoration: none;

}

.login .btns{
    display: flex;
    flex-direction: column;
}

.login .btns .login-btn{
    font-family: inherit;
    padding: .8rem .5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #04C35C;
    color: white;
    transition: .5s;
}

.login .btns .login-btn:hover{
    background-color: #029c4a;
    cursor: pointer;
}

.register{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


@media(min-width:750px){

   

    main {
        width: unset;
        right: 0;
    }
}