<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Team</title>
    <link rel="favicon icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <main>
      <form action="/login" , method="POST" class="login">
        <div class="container">
          <div class="heading">
            <p class="welcome">Welcome back</p>
            <div class="title">Login to your account</div>
          </div>
          <div class="error-msg">
            {% with messages = get_flashed_messages() %} 
              {% if messages %} 
                  {% form in messages %}
                      <div class="error">{{ m }}</div>
                  {% endfor %} 
              {% endif %} 
            {% endwith %}
          </div>
          <div class="forms">
            <label for="password">Email</label>
            <input type="email" name="email" class="form" />
            <label for="password">Password</label>
            <input type="password" name="password" class="form" />
          </div>
          <div class="lost-password">
            <div class="remember">
              <input type="checkbox" name="remember" />
              <label for="">Remember me</label>
            </div>
            <a href="#" class="forgot">Forgot password?</a>
          </div>
          <div class="btns">
            <button class="login-btn">Login now</button>
          </div>
        </form>
        <div class="register">
          Dont have an account? <a href="./register.html">Join free today</a>
        </div>
        </div>
    </main>
  </body>
</html>
