<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SELL FAST</title>
</head>
<body>
    <header>
        <nav class="nav justify-content-end navbar bg-secondary container">
            <a href="/dashboard" class="nav-link">Dashboard</a>
            <a href="" class="nav-link">Account</a>
            <a href="/logout" class="nav-link">Logout</a>
        </nav>
    </header>
    <br>
    <h2 class="text-left container">{{ user.first_name }}, put a property up for sale and take advantage of our high commission rates !</h2>
    <br>
    <div class="text-center text-danger">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for m in messages %}
                        <h5>{{ m }}</h5>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>
    <div class="p-3 mb-2 bg-info text-white w-25 p-3 container">
        <form action="/dashboard/new/create", method="post" class="form-group">
            <section>
                <label for="property_name">Property Name:</label>
                <input type="text" name="property_name" class="form-control">
            </section>
            <br>
            <section>
                <p>Property Type:</p>
                <label for="property_type" value="property_type">Single Family House</label>
                <input type="radio" id="Single Family House" name="property_type" value="Single Family House">
                <br>
                <label for="property_type" value="property_type">Townhouse</label>
                <input type="radio" id="Townhouse" name="property_type" value="Townhouse">
                <br>
                <label for="property_type" value="property_type">Condominium</label>
                <input type="radio" id="Condominium" name="property_type" value="Condominium">
            </section>
            <br>
            <section>
                <label for="address">Address:</label>
                <input type="text" name="address" class="form-control" placeholder="Street address, City, State, Zip Code">
            </section>
            <br>
            <section>
                <label for="number_of_bedrooms">Number of bedrooms:</label>
                <select name="number_of_bedrooms" id="number_of_bedrooms">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </section>
            <section>
                <label for="number_of_bathrooms">Number of bathrooms:</label>
                <select name="number_of_bathrooms" id="number_of_bathrooms">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                </select>
            </section>
            <section>
                <label for="price">Price:</label>
                <input type="text" name="price" id="price" data-type="currency" placeholder="$" class="form-control">
            </section>
            <section>
                <label for="year_built">Year:</label>
                <input type="date" name="year_built" class="form-control">
            </section>
            <br>
            <section>
                <label for="description">Description:</label>
                <textarea cols="30" rows="10" name="description" class="form-control"></textarea>
            </section>
            <br>
            <section>
                <label for="image">Please upload an image:</label>
                <input type="file" name="image" accept="image/*">
            </section>
            <br>
            <section>
                <button class="btn btn-success form-control">Add</button>
            </section>
            <section style="display: none;">
                <label for="users_id">User</label>
                <input type="text" name="users_id" value="{{user.id}}">
            </section>
        </form>
    </div>
    <footer class="bg-info container p-2">
        <p class="text-center font-weight-bold">Sell Fast Corporation &copy;</p>
        <div class="row">
            <div class="text-left col-4">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Sign-up" placeholder="Let's stay connected !">
                    <div class="input-group-append">
                        <button class="btn-success form-control">Sign up !</button>
                    </div>
                </div>
            </div>
            <div class="col-8 text-right">
                <a href="https://lh3.googleusercontent.com/cdN3XxkXmg2r2Oa8wb47BsjMkTBrmp4JRuNgFrQKzKSZUHDOwia3_anjC446OwsN-VN--tkzwhx4fa7nAoQ75U41X8pRfizBJm-HL8Nhlte-aF44yLf-4z9y69eioss4IMjnaFCWsg=s32-p-k?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/cdN3XxkXmg2r2Oa8wb47BsjMkTBrmp4JRuNgFrQKzKSZUHDOwia3_anjC446OwsN-VN--tkzwhx4fa7nAoQ75U41X8pRfizBJm-HL8Nhlte-aF44yLf-4z9y69eioss4IMjnaFCWsg=s32-p-k" /> </a>
                <a href="https://lh3.googleusercontent.com/Wu8HsQBppT51hwy2HuVpGsCehHYPQj3WrPS7MxbqpvALXyqUCZi2RwKiN3eemd_oVmBRjiYeQhkBzgNa1KGWs6bSY5U6iF7uM1LrwaB84gXxsMnjk75hUUli0jndvhpL9x8tBsiNqw=s32-p-k?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/Wu8HsQBppT51hwy2HuVpGsCehHYPQj3WrPS7MxbqpvALXyqUCZi2RwKiN3eemd_oVmBRjiYeQhkBzgNa1KGWs6bSY5U6iF7uM1LrwaB84gXxsMnjk75hUUli0jndvhpL9x8tBsiNqw=s32-p-k" /> </a>
                <a href="https://lh3.googleusercontent.com/4EfqAKXRz8zy-XBAH2GnVGvzNFEXdc5UtaALpUWm-WUE4teSyMXyyqangNCY529mXFz1UDxLCF5uXI33D57CiP8FQHYodAbjGfpsOTmFtiuttrGJG1PqUEpHc-GHGZJzcG0y79cGGQ=s32-p-k?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/4EfqAKXRz8zy-XBAH2GnVGvzNFEXdc5UtaALpUWm-WUE4teSyMXyyqangNCY529mXFz1UDxLCF5uXI33D57CiP8FQHYodAbjGfpsOTmFtiuttrGJG1PqUEpHc-GHGZJzcG0y79cGGQ=s32-p-k" /> </a>
            </div>
        </div>
    </footer>
</body>
</html>